#hero {
  min-height: 100%;
  background-image: url('../img/hero.png');
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100% auto;
  color: white;
  box-sizing: border-box;
  padding: 1.5em 0;
  font-size: 2em;
  font-weight: bold;
}
iframe {
  margin: 0;
  background-image: url('../img/loader.gif');
  background-position: center;
  background-repeat: no-repeat;
}
#embeds {
  padding-bottom: 0;
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hero {
    font-size: 5em;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #hero {
    font-size: 5em;
  }
}

/* Large Monitor and Up */
@media only screen and (min-width: 1200px) {
  #hero {
    font-size: 5em;
  }
}
