body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.hidden {
  display: none !important;
}

#loader {
  border: none;
}
.pusher, body.pushable {
  background: black !important;
}
#navBar > div {
  font-size: 2em;
  padding: 0;
}
.header {
  font-family: 'Courier' !important;
  font-weight: bold !important;
  text-shadow: .1em .1em .1em black;
}
#navBar .button, #navBar .button:hover, #navBar .button:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: inherit !important;
}
.ui.header {
  color: inherit !important;
  margin: 0;
}
.ui.menu {
  background: none;
  border: none;
  box-shadow: none;
}
.ui.inverted.menu {
  padding-top: 1%;
}
.ui.item::before, .ui.item::after {
  display: none;
}
.socialMediaButton {
  margin-right: .5em;
}
#hero {
  min-height: 50vh;
  background-image: url('img/static.gif');
  background-position: center;
  color: white;
  box-sizing: border-box;
  padding: .5em;
  font-size: 2em;
  text-shadow: .1em .1em .1em black;
}
#hero i {
  font-size: 1.5em;
}
iframe {
  margin: 0;
}
.ui.input {
  margin: 1em 0;
}
#message {
  width: 100%;
}
#contact {
  margin: 1em 0;
  padding: 1.5em 0;
  background-color: #303030;
}
.private {
  color: #21BA45;
}
#embeds {
  padding-bottom: 0;
}
#toTop button {
  padding: .5em 0;
}
#footer {
  font-size: 1em;
  color: white;
  text-align: center;
}
.footerText a, .footerText a:visited, .footerText a:focus {
  color: #21BA45;
  transition: .3s;
}
.footerText a:hover {
  color: white;
}
#footer button {
  box-shadow: none !important;
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hero {
    font-size: 5em;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #hero {
    font-size: 5em;
  }
}

/* Large Monitor and Up */
@media only screen and (min-width: 1200px) {
  #hero {
    font-size: 5em;
  }
}
